.accordion{
    width: 50%;
    background: #eee;
}
button{
    width: 100%;
    border: none;
}
.accordion p{
    padding: 20px 40px;
    line-height: 20px;
}
.tab-title{
    background: mediumseagreen;
    text-align: center;
    font-weight: 700;
    padding: 20px;
    color: #fff;
    transition: background-color 0.5s ease-in-out;
    border-bottom: 1px solid seagreen;
}
.tab-title:before{
    content: "+";
    font-size: 20px;
    float: left;
    transition: transform 0.3s ease-in-out;
}
.tab-title:hover{
    background: seagreen;
}
.tab-titleActive{
    background: seagreen;
}
.tab-titleActive:before{
    transform: rotate(-135deg);
}
.content{
    height: auto;
    overflow: hidden;
}
.content-collapsed{
    max-height: 0;
}
.animateIn{
    animation-name: accordionIn;
    animation-duration: 0.65s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
}
@keyframes accordionIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}